@using SocialNetwork.WEB.App_GlobalResources
@model SocialNetwork.WEB.ViewModels.EditPasswordViewModel

@{
    ViewBag.Title = Resource.EditPassword;
}
<section id="intro">
    <div id="intro-slider" class="flexslider">
        <li>
            <div class="row">
                <div class="col full">
                    <div class="slider-text">
                        <h2>@Resource.EditPassword</h2>
                    </div>
                </div>
            </div>
        </li>
    </div>
</section> 
@using (Html.BeginForm("EditPassword", "Profile", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <section id="contact">
        @Html.ValidationSummary(true, "", new { @id = "text-danger" })
        <div class="row">
            <div class="col g-9">
                <h3>@Html.LabelFor(model => model.Password, Resource.Password, htmlAttributes: new { @class = "control-label col-md-2" })</h3>
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form input" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "control-label text-danger" })
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col g-9">
                <h3>@Html.LabelFor(model => model.NewPassword, Resource.NewPassword, htmlAttributes: new {@class = "control-label col-md-2"})</h3>
                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form input" } })
                @Html.ValidationMessageFor(model => model.NewPassword, "", new {@class = "control-label text-danger"})
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col g-9">
                <h3>@Html.LabelFor(model => model.ConfirmNewPassword, Resource.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })</h3>
                @Html.EditorFor(model => model.ConfirmNewPassword, new { htmlAttributes = new { @class = "form input" } })
                @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new { @class = "control-label text-danger" })
                <hr />
            </div>
        </div>
        

        <div class="row">
            <div class="col g-12">
                <input type="submit" value=@Resource.Edit class="btn btn-default" />
            </div>
        </div>
    </section>
}   